{
  "extends": [
    "react-app",
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:react/jsx-runtime"
  ],
  "rules": {
    "react/jsx-key": 2,
    "react/button-has-type": 0,
    "import/prefer-default-export": "off",
    "react/jsx-no-bind": [
      2,
      {
        "allowFunctions": true,
        "allowArrowFunctions": true
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "functions": false
      }
    ],
    "@typescript-eslint/no-use-before-define": [
      "error",
      {
        "functions": false
      }
    ]
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}