{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-idiomatic-order"
  ],
  "rules": {
    "selector-class-pattern": null,
    "no-missing-end-of-source-newline": true,
    "linebreaks": "unix"
  }
}