.container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr auto;
}

.content {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background:
    url("../../assets/icons/metalamp.svg") no-repeat left 25% top
    100px / 35%;
}

.introduction {
  width: 26%;
  margin-left: 55%;
}

.title {
  margin-bottom: 10px;
  font-size: 27px;
  font-weight: 400;
}

.text {
  margin-bottom: 20px;
}
