@import "shared/styles/mixins";

.container {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.navigation {
  margin-left: auto;
}

.links {
  @include normalizeList;

  display: flex;
  column-gap: 10px;
}
