@import 'shared/mixins';

.container {
  display: flex;
  align-items: center;

  padding: 10px 20px;
}

.navigation {
  margin-left: auto;
}

.links {
  @include list(row, start, stretch, 10px);
}

.link {
  @include link;
}
