.container {
  display: flex;
  align-items: center;

  padding: 10px 20px;
}

.wallet {
  padding-left: 30px;

  background: url('../../assets/icons/wallet.svg') no-repeat left center;
}

.navigation {
  margin-left: auto;
}
