@import 'shared/mixins';

.container {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.content {
  display: flex;
  flex-grow: 1;
  align-items: center;

  padding: 50px 20px;

  background: url('https://upload.wikimedia.org/wikipedia/commons/3/36/MetaMask_Fox.svg')
    no-repeat 200px center / 400px auto;
}

.introduction {
  width: 500px;
  margin-left: 650px;
}

.title {
  @include h1;

  margin-bottom: 10px;
}

.text {
  margin-bottom: 20px;
}

.button {
  @include button;
}
