@import 'shared/mixins';

.container {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.content {
  display: flex;
  flex-grow: 1;
  align-items: center;

  padding: 50px 20px;

  background: url('../../assets/icons/metamask-fox.svg') no-repeat 200px center /
    400px auto;
}

.introduction {
  width: 500px;
  margin-left: 650px;
}

.title {
  margin-bottom: 10px;

  font-size: 27px;
  font-weight: 400;
}

.text {
  margin-bottom: 20px;
}

.button {
  @include button;
}
