@import 'shared/colors';

.container {
  width: 536px;
  padding: 10px;

  border: 1px solid $black;
}

.title {
  margin-bottom: 5px;

  text-align: center;
}

.timer {
  margin-bottom: 20px;

  text-align: center;
}

.list {
  margin-bottom: 20px;
}

.itemWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid $black;
}

.button {
  margin-bottom: 20px;

  text-align: center;
}

.status {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;

  &::before {
    width: 20px;
    height: 20px;

    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
    text-align: center;

    border: 2px solid $black;
    border-radius: 50%;
  }

  &_type {
    &_approved {
      &::before {
        content: '✓';
      }
    }

    &_refused {
      &::before {
        content: '!';
      }
    }
  }
}
