@import "shared/colors";

.container {
  width: 536px;
  padding: 10px;
}

.title {
  margin-bottom: 5px;
  text-align: center;
}

.itemWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $black;
}

.mintButton {
  margin-top: 20px;
  text-align: center;
}

.whitelistStatus {
  margin-top: 20px;
  text-align: center;
}

.moneyLackStatusWrapper {
  margin-top: 20px;
}

.moneyLackStatus {
  margin-bottom: 10px;
  text-align: center;
}

.exchangeButton {
  text-align: center;
}

.tokensLackStatus {
  margin-top: 20px;
  text-align: center;
}
